:root {
    --logo-green: #00f59a;
    --logo-blue: #00aaf4;
    --logo-gray: #495470;
    --logo-white: #ffffff;
}

body {
    background-color: var(--logo-gray);
}

header * {
    color: var(--logo-white);
}

form {
    background-color: var(--logo-blue);
    color: var(--logo-white);
}

.input-container {
    position: relative;
    z-index: 4;
    background-color: var(--logo-blue);
    border: solid var(--logo-blue);
}

.checkbox-field {
    background-color: var(--logo-blue);
    z-index: 3;
}

.checkbox-field, .input-field {
    position: relative;
    display: inline-block;
}

.input-field {
    z-index: 2;
    transform: translateX(-100%);
    color: black;
}

.input-field * {
    border: solid var(--logo-blue);
}

#btnBinge {
    display: block;
    position: relative;
    transform: translateY(-150%);
    z-index: 1;
    margin: 0 auto;
}

#btnBinge:hover {
    background-color: var(--logo-green);
}
