body {
    background-color: rgb(5 150 105);
}

form {
    background-color: rgb(239 68 68);
}

.checkbox-field {
    background-color: aqua;
}

.checkbox-field, .input-field {
    position: relative;
    display: inline-block;
}

body, form, .checkbox-field {
    z-index: 2;
}

.input-field {
    z-index: 1;
    transform: translateX(-100%);
}
